.modal {
   top: 0;
   left: 0;
   z-index: 1;
   width: 100%;
   height: 100%;
   display: flex;
   position: absolute;
   align-items: center;
   justify-content: center;
   backdrop-filter: blur(1px);
   background-color: rgba(80, 73, 73, 0.2);
   animation: opacityAnimation 0.1s ease-in-out;
}

.modal__container {
   width: 567px;
   padding: 28px 33px;
   background-color: #ffffff;
   box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05),
      0px 6px 16px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
}

.modal__title {
   margin-bottom: 21px;
   font: bold 16px "Rubik", sans-serif;
}

.modal__input_form {
   display: flex;
   margin-bottom: 8px;
   flex-direction: column;
}

.modal__label {
   color: #5d6372;
   font-size: 12px;
   margin-bottom: 4px;
   font-family: "Open Sans", sans-serif;
}

.modal__input {
   padding: 10px;
   border-radius: 4px;
   border: 1px solid #e5e5e5;
   font: 600 14px "Open Sans", sans-serif;
}

.modal__input::placeholder {
   color: #b7bdc9;
   font: 400 14px "Open Sans", sans-serif;
}

.modal__buttons {
   display: flex;
   margin-top: 43.5px;
   align-items: center;
   justify-content: flex-end;
}

.modal__cancel_btn {
   color: #262626;
   margin-right: 8px;
   background-color: #ffffff;
   border: 1px solid #d9d9d9;
}

.modal__save_btn {
   color: #ffffff;
   border: 1px solid #eb5757;
   background-color: #eb5757;
}

.modal__cancel_btn,
.modal__save_btn {
   outline: none;
   font-size: 14px;
   cursor: pointer;
   border-radius: 2px;
   padding: 5px 16px 5px 16px;
   font-family: "Rubik", sans-serif;
}

.modal__save_btn:disabled {
   cursor: default;
   background-color: #eb5757b3;
}

@keyframes opacityAnimation {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}
