@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body,
div,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
img,
p {
   border: 0;
   margin: 0;
   padding: 0;
   font: inherit;
   font-size: 100%;
   box-sizing: border-box;
   vertical-align: baseline;
}
aside {
   display: block;
}
body {
   line-height: 1;
}
